[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Formatting
flake8 = "*"
black = "==21.12b0"
isort = "*"
# Testing
tox = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-sugar = "*"
pytest-subtests = "*"
pyfakefs = "*"
mypy = "*"
# Coverage
coverage = "*"
# Tools
pre-commit = "*"
twine = "*"
invoke = "*"
m2r = "*"
bump2version = "*"
types-setuptools = "*"
# Exploration
jupyterlab = "*"
matplotlib = "*"
# Documentation
sphinx = "*"

[packages]
numpy = "*"
click = "*"
toml = "*"
