[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Formatting
flake8 = "*"
black = "*"
# Testing
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-sugar = "*"
pytest-subtests = "*"
pyfakefs = "*"
mypy = "*"
# Tools
pre-commit = "*"
twine = "*"
build = "*"
invoke = "*"
bump2version = "*"
types-setuptools = "*"
# Examples and experiments
jupyterlab = "*"
matplotlib = "*"
scipy = "*"
# Documentation
sphinx = "*"
types-toml = "*"

[packages]
numpy = ">=1.21"
click = "*"
toml = "*"
